

.container-1 {
    display: flex;
}

.box-1 {
    flex: 1;

    align-self: flex-start;
    position: sticky;
    top: 4rem;
    bottom: 4rem;
}

.box-2 {
    flex: 2;
    margin-right: 2%
        
}



#cvPic {
    max-width: 40%;
    min-width: 40%;
    height: auto;
    border-radius: 50%;
   
}

#gitImage,
#liImage,
#envelope,
#engIcon {
    max-width: 10%
}

#links a:hover {
    text-decoration: none;
}

img:hover {
    background-image: url('./imgs/hover.png');
}


#experience,
#portfolio,
.container-1,
#competences,
#education {
    text-align: center;
    
}

#experience,
#competences,
#education,
#links,
#portfolio {
    padding-bottom: 10px;
}

#experience,
#education,
#competences,
#education,
#portfolio {
    border-style: groove ;
    margin-bottom: 10px;
}
#portfolio {
    margin-top: 10px;
}
h1,
h2,
#description,
#links,
.eduItem,
.expItem,
#imgDiv {
    margin: 20px;
}

#competences h3 {
    margin: 20px;
}



.container-1 {
    background:linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea);
}

#education,
#portfolio {
    background-color: #fff6ee
}

#competences,#experience {
    background-color:#F5F5F5
}





.compLang {
    font-size: 1.5em;
    color: black;
}

.eduData {
    color: grey;
    font-size: 1.5em;
}

.eduItem h3 {
    font-size: 1.5em;
}



a {
    
    color: rgb(86, 97, 40);
}

#langSwitch a {
    color: black;
    font-size: 1.1em;
}

h3 {
    font-size: 1.4em;
}

h4 {
    font-size: 1.2em;
    color: grey;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    font-size: 20px;
    padding: 10px;
    align-items: flex-end;
    color: black;
}
p {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    #cvPic {
        max-width: 30%
    }

    #gitImage,
    #liImage,
    #envelope,
    #engIcon {
        max-width: 10%
    }

    .container-1 {
        display: flex;
        flex-direction: column;
    }

    .box-1 {
        flex: 1;
        align-self: auto;
        position: static;
        top: auto;
        bottom: auto;
    }
}